* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 100vh;
	background-image: url(../img/background.png);
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}

.navbar {
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;

}

.logo {
	width: 300px;
	cursor: pointer;
	padding-top: 50px;
	margin-left: 20px;
}

.cart {
	width: 40px;
	cursor: pointer;
}

nav {
	flex: 1;
	padding-left: 60px;

}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;

}

nav ul li a {
	text-decoration: none;
	text-decoration-style: bold;
	color: #232d60;
}

.content h1{
	font-size: 60px;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #232d60;

}

.content p {
	font-size: 20px;
	color: #6a7199;
}

.content {
	margin-top: 10%;
	margin-left: 10%;
}

.content .btn {
	text-decoration: none;
	display: inline-block;
	background: linear-gradient(45deg, #87adfe, #ff77cd);
	border-radius: 10px;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
	box-shadow: 3px 8px 16px rgba(94, 28, 68, 0.15);
}

.arrow-icons {
	display: flex;
	margin-top: 40px;
}

.arrow-icons img{
	width: 40px;
	margin-left: 40px;

}

.girl-image {
	height: 90%;
	position: absolute;
	bottom: 0;
	right: 180px;
	
}

.social-links {
	transform: rotate(-90deg);
	position: absolute;
	left: -80px;
	bottom: 180px;
}

.social-links a{
	text-decoration: none;
	color: #6a7199;
	padding-right: 20px;
	font-size: 14px;
}